flow.json
[
    {
        "id": "2afd4c7396c3209b",
        "type": "tab",
        "label": "Tamil",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d4a601f90359c77",
        "type": "tab",
        "label": "Naveen",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "660f568bebf0c646",
        "type": "inject",
        "z": "2afd4c7396c3209b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "b836d6cfcb40f899"
            ]
        ]
    },
    {
        "id": "b836d6cfcb40f899",
        "type": "function",
        "z": "2afd4c7396c3209b",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "2cff4c57bb0f8b18"
            ]
        ]
    },
    {
        "id": "2cff4c57bb0f8b18",
        "type": "debug",
        "z": "2afd4c7396c3209b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "97179cbf42ae8701",
        "type": "catch",
        "z": "4d4a601f90359c77",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "07926a31b21ba76f"
            ]
        ]
    },
    {
        "id": "07926a31b21ba76f",
        "type": "switch",
        "z": "4d4a601f90359c77",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "d6b667c591676d85"
            ]
        ]
    },
    {
        "id": "d6b667c591676d85",
        "type": "mqtt out",
        "z": "4d4a601f90359c77",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "x": 650,
        "y": 260,
        "wires": []
    }
]