flow.json
[
    {
        "id": "4d4a601f90359c77",
        "type": "tab",
        "label": "Tamil",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5501c2e2683dfd7",
        "type": "inject",
        "z": "4d4a601f90359c77",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "f5465ab8253c14cd",
                "d59c65e092c46b89"
            ]
        ]
    },
    {
        "id": "f5465ab8253c14cd",
        "type": "exec",
        "z": "4d4a601f90359c77",
        "command": "sudo docker ps",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 60,
        "wires": [
            [
                "e86fc56ff10cab8f"
            ],
            [],
            []
        ]
    },
    {
        "id": "e86fc56ff10cab8f",
        "type": "debug",
        "z": "4d4a601f90359c77",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 40,
        "wires": []
    },
    {
        "id": "d59c65e092c46b89",
        "type": "exec",
        "z": "4d4a601f90359c77",
        "command": "service ssh status",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "e86fc56ff10cab8f"
            ],
            [],
            []
        ]
    }
]