flow.json
[
    {
        "id": "4d4a601f90359c77",
        "type": "tab",
        "label": "Naveen",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "97179cbf42ae8701",
        "type": "catch",
        "z": "4d4a601f90359c77",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "07926a31b21ba76f"
            ]
        ]
    },
    {
        "id": "07926a31b21ba76f",
        "type": "switch",
        "z": "4d4a601f90359c77",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "d6b667c591676d85"
            ]
        ]
    },
    {
        "id": "d6b667c591676d85",
        "type": "mqtt out",
        "z": "4d4a601f90359c77",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "x": 650,
        "y": 260,
        "wires": []
    }
]